@media print {
  @page {
    size: auto;
    margin: 0;

    @top-right {
      content: none;
    }

    @top-left {
      content: none;
    }
  }

  body * {
    visibility: hidden;
  }

  #printable,
  #printable * {
    visibility: visible;
  }

  #printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
